* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

.container {
	width: 90%;
	margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.4rem 1rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    z-index: 10;
}

.branding {
    font-weight: bold;
    color: #363F5A;
    font-size: 1.5rem;
}

.branding span {
    background: #363F5A;
    border-radius: 10px;
    color: #fff;
}

.nav ul {
    display: flex;
    font-size: 0.9rem;
}

.nav ul li {
    padding-right: 1rem;
}

.nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
}

.nav ul li a:hover {
    color: #537EF9;
}

.hamburger-icon {
	width: 35px;
	height: 35px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	opacity: 0;
	z-index: 10;
}

.hamburger-icon span {
	position: absolute;
	width: 100%;
	height: 3px;
	background: #111;
}

.hamburger-icon span::before {
	content: "";
	position: absolute;
	left: 0;
	top: 8px;
	width: 100%;
	height: 3px;
	background: #111;
}

.hamburger-icon span::after {
	content: "";
	position: absolute;
	left: 0;
	top: -8px;
	width: 100%;
	height: 3px;
	background: #111;
}


@media screen and (max-width: 900px) {
	header .nav {
		position: absolute;
		top: 0;
		left: -900px;
		background: #fff;
		width: 100%;
		height: 100vh;
		transition: all 0.5s ease-in;
	}

	.nav ul {
		flex-direction: column;
		justify-content: center;
		padding: 5rem 0;
	}

	.nav ul li {
		padding: 1.5rem;
		cursor: pointer;
	}

	.nav ul li:hover {
		background: #eef5fe;
	}

	.hamburger-icon {
		opacity: 1;
	}
}

/* Showcase Section */
#showcase {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	background: url('../img/showcase-bg.svg');
}

.showcase-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.showcase-content-left {
	flex: 1;
}

.showcase-content-title {
	width: 400px;
	margin: 2rem 0;
}

.showcase-content-title h3 {
	font-size: 2.3rem;
	line-height: 1.3;
	color: #363F5A;
}

.showcase-content-body p {
	opacity: 0.6;
}

.btn {
	padding: 0.8rem 2.8rem;
	background: linear-gradient(to bottom, #f7ad4c, #f17d7d);
	display: inline-block;
	margin-top: 1.5rem;
	border-radius: 30px;
	border: none;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.9;
}


.showcase-content-right {
	flex: 1;
}

.showcase-content-right img {
	width: 400px;
}

@media screen and (max-width: 900px) {
	.showcase-content {
		flex-direction: column;
		text-align: center;
	}

	.showcase-content-title h3 {
		font-size: 2rem;
	}

	.showcase-content-left {
		margin: 5rem 0;
	}

	.showcase-content-title {
		width: 100%;
	}
}


/* Our Tools Section */
#our-tools {
	height: 100%;
	width: 100%;
	padding: 2rem 0;
}

.our-tools-wrapper {
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
}

.our-tools-title {
	margin: 0 auto;
	line-height: 1.2;
	position: relative;
}

.our-tools-title:after {
	content: '';
	position: absolute;
	height: 10px;
	width: 60px;
	background: #6bdd70;
	bottom: -20px;
	margin-left: -30px;
}

.our-tools-title h3 {
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
	color: #397af9;
}

.our-tools-body {
	margin-top: 5rem;
	opacity: 0.5;
}

.our-tools-content {
	margin: 4rem 0;
	display: grid;
	grid-gap: 3.5rem;
	grid-template-columns: repeat(3, 150px);
	align-items: center;
	justify-content: space-between;
}

.our-tools-content img {
	height: 6rem;
}

.our-tools-content p {
	opacity: 0.5;
	margin-top: 1rem;
}

@media screen and (max-width: 700px) {
	.our-tools-content {
		grid-template-columns: 150px;
		justify-content: center;
	}

	.our-tools-title h3 {
		font-size: 2rem;
	}
}

/* Featured Section */
/* Video */
.featured-video {
	background: #4582f9;
	clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.featured-text .featured-title {
	max-width: 450px;
}

.featured-text .featured-title h3{
	font-size: 2.5rem;
	margin-bottom: 5rem;
	line-height: 1.3;
	position: relative;
}

.featured-text .featured-title h3:after{
	content: '';
	position: absolute;
	width: 50px;
	height: 8px;
	background: #50cdf9;
	bottom: -2rem;
	left: 0;
}

.featured-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	min-height: 600px;
	width: 100%;
	padding: 2rem 0;
	color: #fff;
}

.featured-wrapper .featured-image {
	flex: 1;
}

.featured-wrapper .featured-text {
	flex: 1;
}

.featured-wrapper .featured-image img {
	width: 80%;
}

.featured-video-btn {
	background: #6adb75;
}

/* Website */
.featured-website {
	clip-path: polygon(0 0, 100% 10%, 200% 100%, 0 100%);
	background: #9189f8;
}

.featured-website .featured-wrapper h3:after {
	background: #f17c6c;
}

.featured-website-btn {
	background: #57dbf9;
}

/* Logo */
.featured-logo .featured-text {
	color: #333;
}

.featured-wrapper .left {
	order: 1;
}

.featured-wrapper .right {
	order: 2;
	text-align: right;
}

.featured-logo .featured-wrapper h3:after {
	background: #6bdd70;
}

@media screen and (max-width: 900px) {
	.featured-wrapper {
		flex-direction: column;
		padding: 5rem 0;
	}

	.featured-wrapper img {
		max-width: 500px;
	}

	.featured-wrapper .left {
		order: 2;
	}

	.featured-wrapper .right {
		order: 1;
	}

}

/* Testimonial Section */
#testimonial {
	height: 100%;
	width: 100%;
	padding: 2rem 0;
	background: #f5fafe;
	margin-bottom: 4rem;
}

.testimonial-title {
	text-align: center;
	color: #397af9;
	font-weight: bold;
	font-size: 2rem;
	position: relative;
}

.testimonial-title:after {
	content: "";
	position: absolute;
	height: 8px;
	width: 60px;
	background: #f17c6a;
	left: 50%;
	margin-left: -30px;
}

.testimonial-wrapper {
	background: #fff;
	max-width: 700px;
	margin: 5rem auto auto;
	padding: 6rem 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #333;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}

.testimonial-image {
	flex: 1;
}

.testimonial-image img {
	width: 80%;
}

.testimonial-image h3 {
	color: #397af9;
}

.testimonial-image p {
	font-size: 0.9rem;
	font-weight: bold;
}

.testimonial-text {
	flex: 3;
}

@media screen and (max-width: 700px) {
	.testimonial-wrapper {
		flex-direction: column;
		padding: 4rem 2rem;
	}

	.testimonial-image img {
		width: 100px;
	}

	.testimonial-text {
		margin-top: 1rem;
		font-size: 1rem;
	}
}

/* Newsletter Section */
#newsletter {
	background: #397af9;
	padding: 2rem 0;
	color: #fff;
	text-align: center;
}

.newsletter-title {
	font-size: 1.2rem;
	position: relative;
}

.newsletter-title p:nth-child(2) {
	font-size: 1rem;
}

.newsletter-title p:after {
	content: "";
	position: absolute;
	width: 60px;
	height: 8px;
	background: #50cdf9;
	bottom: -1.7rem;
	left: 50%;
	margin-left: -30px;
}

.newsletter-input {
	margin: 4rem auto;
	max-width: 700px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.newsletter-input input {
	border: none;
	outline: none;
	height: 2.5rem;
	border-radius: 1.25rem;
	text-indent: 15px;
	font-size: 1rem;
	color: #333;
}

.newsletter-input input:nth-child(1) {
	flex-basis: 220px;
}

.newsletter-input input:nth-child(2) {
	flex-basis: 450px;
}

.newsletter-input input:nth-child(3) {
	position: absolute;
	margin: 0;
	padding: 0;
	right: 0;
	color: #fff;
	text-align: center;
	text-indent: 0;
}

@media screen and (max-width: 700px) {
	.newsletter-input {
		flex-direction: column;
	}

	.newsletter-input input {
		height: 40px;
		width: 60%;
		margin-bottom: 1.2rem;
	}

	.newsletter-input input:nth-child(1) {
		flex-basis: auto;
	}
	
	.newsletter-input input:nth-child(2) {
		flex-basis: auto;
	}
	
	.newsletter-input input:nth-child(3) {
		position: relative;
		color: #fff;
		text-align: center;
		text-indent: 0;
	}

}

/* Footer */
footer {
	background: #397af9;
	padding: 3rem;
}

.footer-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}

.footer-wrapper .years p {
	font-size: 1rem;
}

.footer-wrapper .icons i {
	font-size: 1.4rem;
	margin-right: 1rem;
	cursor: pointer;
}


@media screen and (max-width: 700px) {
	.footer-wrapper {
		flex-direction: column;
	}

	.footer-wrapper .icons i:last-child {
		margin-right: 0;
	}
}


